.clients {
  display: flex;
  padding: 0;
  margin: 0;

  &__link {
    display: flex;
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    border: 1px solid $color-icon;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $accent-color;
  }

  &__logo {
    fill: $color-icon;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover &__logo,
  &__link:focus &__logo {
    fill: $accent-color;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__logo--icon-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44.27px;
    height: 49.23px;
    text-align: center;
  }

  &__logo--icon-two {
    width: 40px;
    height: 52px;
  }

  &__logo--icon-three {
    width: 41px;
    height: 42.6px;
  }

  &__logo--icon-four {
    width: 79px;
    height: 42.02px;
  }

  &__logo--icon-five {
    width: 59px;
    height: 47px;
  }

  &__logo--icon-six {
    width: 88px;
    height: 45px;
  }
}
